<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>All Products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="width: 62px; margin-top: 5px;" src="https://www.kalyanjewellers.net/images/Jewellery/Diamond/images/heart-valley-solitaire-diamond-engagement-ring.jpg" alt="">
                <h6>Jewelery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!--using ng-for to loop all data-->
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <!--using inpolation to fill each data-->
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong>Rs{{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>